* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #6b96f3, #5c0ae0);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    overflow: hidden;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.todo-app h2 img {
    width: 40px;
    margin-left: 6px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 20px;
    border-radius: 30px;
    background: #edeef0;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px; /* Fixed typo here */
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #634ef0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(imgs/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 2px;
    left: 10px; /* Adjusted positioning */
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(imgs/check.png);
}

ul li span {
    position: absolute;
    right: 10px; /* Adjusted positioning */
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Adjusted size */
    height: 30px; /* Adjusted size */
    font-weight: 400; /* Fixed typo */
    font-size: 22px;
    color: #555;
    line-height: 30px; /* Adjusted line-height */
    text-align: center;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

ul li span:hover {
    background: #edeef0;
}
